# Clusterização

#### 1 - Carga de dados após EAD

In [1]:
import pandas as pd

df = pd.read_pickle("../../Data/Processed/df_2009.pkl") 

df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Month,Winter,Spring,Summer,Autumn
1074636,0.484,0.062,247.860001,2.2,0.0,0.0,0.0,1,1,0,0,0
1074637,0.484,0.062,247.720001,2.2,0.0,0.0,0.0,1,1,0,0,0
1074638,0.482,0.062,247.750000,2.2,0.0,0.0,0.0,1,1,0,0,0
1074639,0.482,0.060,247.520004,2.2,0.0,0.0,0.0,1,1,0,0,0
1074640,0.482,0.062,246.940002,2.2,0.0,0.0,0.0,1,1,0,0,0

#### 2 - Normalizando os dados

> Dadas as variações de escala das informações é necessário normalizar o datatset

In [2]:
from sklearn.preprocessing import StandardScaler

# Referência = https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

scaler = StandardScaler()

data_scaled = scaler.fit_transform(df)

df_s = pd.DataFrame(data_scaled, columns=df.columns)

df_s

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Month,Winter,Spring,Summer,Autumn
0,-0.589470,-0.592890,2.012011,-0.559052,-0.181443,-0.214887,-0.795943,-1.597225,1.739132,-0.583682,-0.571308,-0.579412
1,-0.589470,-0.592890,1.964794,-0.559052,-0.181443,-0.214887,-0.795943,-1.597225,1.739132,-0.583682,-0.571308,-0.579412
2,-0.591452,-0.592890,1.974912,-0.559052,-0.181443,-0.214887,-0.795943,-1.597225,1.739132,-0.583682,-0.571308,-0.579412
3,-0.591452,-0.609975,1.897342,-0.559052,-0.181443,-0.214887,-0.795943,-1.597225,1.739132,-0.583682,-0.571308,-0.579412
4,-0.591452,-0.592890,1.701728,-0.559052,-0.181443,-0.214887,-0.795943,-1.597225,1.739132,-0.583682,-0.571308,-0.579412
...,...,...,...,...,...,...,...,...,...,...,...,...
521315,0.661563,0.227149,-0.655757,0.627882,-0.181443,-0.214887,1.303951,1.581364,1.739132,-0.583682,-0.571308,-0.579412
521316,0.701215,0.876347,-0.608540,0.675360,-0.181443,-0.214887,1.420612,1.581364,1.739132,-0.583682,-0.571308,-0.579412
521317,0.699233,0.859263,-0.642263,0.675360,-0.181443,-0.214887,1.303951,1.581364,1.739132,-0.583682,-0.571308,-0.579412
521318,0.707163,0.893431,-0.429790,0.675360,-0.181443,-0.214887,1.303951,1.581364,1.739132,-0.583682,-0.571308,-0.579412
521319,0.707163,0.910516,-0.362333,0.675360,-0.181443,-0.214887,1.420612,1.581364,1.739132,-0.583682,-0.571308,-0.579412