In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,date,time
from dateutil.relativedelta import relativedelta

### **A) Coleta dos Dados de Direção do Vento**

In [2]:
source_file = '../../Data/raw/Variaveis_EPE/BAUET2_CAETITÉ_2_DIR_Verif_EPE.txt'

In [3]:
df_direcao = pd.read_csv(source_file, delimiter = ';' , header=None )

### **B) Sobre os Dados no Patio 1**

#### <span style="color:#DC143C">**B1.Formato dos Dados**

In [4]:
df_direcao.shape # formato da matriz

(1622, 49)

#### <span style="color:#DC143C">**B2.Visao do Dataframe**

In [5]:
df_direcao.head(2)  # visão de 5 linhas

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,20170101,999.0,999.0,116.567,121.833,120.600,121.367,122.767,116.667,116.367,...,114.833,115.567,113.400,110.633,102.4,97.300,95.167,120.733,106.967,104.500
1,20170102,117.7,116.3,105.267,108.133,118.467,113.400,110.600,117.200,120.267,...,104.867,111.867,107.067,105.367,96.0,80.367,65.000,115.300,107.933,97.667

### **C) Extração os Dados de 2017**

#### <span style="color:#DC143C"> **C1. Converter a primeira coluna em Data**

In [5]:
df_direcao[0]= pd.to_datetime(df_direcao[0], format='%Y%m%d')

#### <span style="color:#DC143C"> **C2.Remove registros fora do Intervalo**

In [6]:
df_direcao = df_direcao.drop(df_direcao[df_direcao[0] > '2017-12-31'].index)
df_direcao = df_direcao.drop(df_direcao[df_direcao[0] < '2017-01-01'].index)

In [7]:
df_direcao['longitude'] = -42.75
df_direcao['latitude']  = -14.25

In [8]:
cols = list(df_direcao)
cols = [cols[-1]] + cols[:-1]
df_direcao = df_direcao[cols]

cols = list(df_direcao)
cols = [cols[-1]] + cols[:-1]
df_direcao = df_direcao[cols]

In [9]:
df_direcao = df_direcao.reset_index()

### **D) Formatação dos Dados**

#### <span style="color:#DC143C"> **D1. Migrar os dados para o Formato**

In [10]:
frente = ['Longitude', 'Latitude', 'Data', 'Valor30_1', 'Valor30_2']  # Cabeçalho
df_result_direcao = pd.DataFrame(columns=frente)  # Criação de um dataframe vazio
    
Linha1    =  df_direcao.shape[0] 
Colunas1  =  df_direcao.shape[1] 

for lin2 in range(Linha1):  
    refhora = 0
    
    for col in range (Colunas1):        
        if col > 0:            
        
            if col % 2 != 0: # Se o número (col) for impar                   
               
                if col < 49:
                    
                    Data = df_direcao.loc[lin2,0]
                                  
                    hora = time(hour=refhora, minute=0, second=0)            
                    dataCompleta = datetime.combine(Data, hora)
                    #print(dataCompleta)
                    lin_alvo = [df_direcao.loc[lin2,'longitude'], df_direcao.loc[lin2,'latitude'], dataCompleta , df_direcao.loc[lin2,col], df_direcao.loc[lin2,col+1]] 
                    # print(lin_alvo)
                    df_result_direcao.loc[len(df_result_direcao)] = lin_alvo  # adding a row
                         
                refhora = refhora + 1

#### <span style="color:#DC143C"> **D2. Informações sobre os Tipos de Dados**

In [12]:
df_result_direcao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Longitude  8760 non-null   float64
 1   Latitude   8760 non-null   float64
 2   Data       8760 non-null   datetime64[ns]
 3   Valor30_1  8760 non-null   float64
 4   Valor30_2  8760 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 410.6 KB

In [11]:
df_result_direcao.shape

(8760, 5)

save_file = 'd:\df_result_direcao.csv'
df_result_direcao.to_csv(save_file, index = True)

#### <span style="color:#DC143C"> **D3. Remover ruido**

In [15]:
df_result_direcao.loc[df_result_direcao['Valor30_1']== 999.00,'Valor30_1'] = 122.767

df_result_direcao.loc[df_result_direcao['Valor30_2']== 999.000,'Valor30_2'] = 116.667

#### <span style="color:#DC143C"> **D3. Agregar Magnitude para 1H**

In [17]:
df_result_direcao['Direcao_Verif'] = (df_result_direcao['Valor30_1'] + df_result_direcao['Valor30_2']) / 2

#### <span style="color:#DC143C"> **D5. Formata Colunas**

In [16]:
# Formatar o resultado com 2 casas decimais
df_result_direcao['Direcao_Verif'] = df_result_direcao['Direcao_Verif'].round(decimals=2)

In [18]:
df_result_direcao = df_result_direcao.drop('Valor30_1', 1)
df_result_direcao = df_result_direcao.drop('Valor30_2', 1)

In [20]:
df_result_direcao.head(10)

   Longitude  Latitude                Data  Direcao_Verif
0     -42.75    -14.25 2017-01-01 00:00:00       119.7170
1     -42.75    -14.25 2017-01-01 01:00:00       119.2000
2     -42.75    -14.25 2017-01-01 02:00:00       120.9835
3     -42.75    -14.25 2017-01-01 03:00:00       119.7170
4     -42.75    -14.25 2017-01-01 04:00:00       116.7170
5     -42.75    -14.25 2017-01-01 05:00:00       117.1500
6     -42.75    -14.25 2017-01-01 06:00:00       117.8665
7     -42.75    -14.25 2017-01-01 07:00:00       116.6830
8     -42.75    -14.25 2017-01-01 08:00:00       115.5165
9     -42.75    -14.25 2017-01-01 09:00:00       112.1500

### **E. Exporta Resultados**

In [22]:
output_file = '../../Data/process/teste_02_patio_direcao.csv'
df_result_direcao.to_csv(output_file, sep=';', encoding='utf-8')