In [1]:
import pandas as pd
import numpy as np

d:\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
d:\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
d:\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

### **A) Importar Dados de Chuvas, Pressao, Precipitação e Temperatura**

In [8]:
output_precip = '../../../../PrevisaoVento/Data/process/cenario4/chuva_prevista.csv'

output_pressao =  '../../../../PrevisaoVento/Data/process/cenario4/pressao_prevista.csv'

output_temp = '../../../../PrevisaoVento/Data/process/cenario4/temperatura_prevista.csv'

output_vento = '../../../../PrevisaoVento/Data/process/cenario4/vento_previsto.csv'

output_ventoC = '../../../../PrevisaoVento/Data/process/cenario4/Vento_Consolidado.csv'

In [9]:
df_chuva = pd.read_csv(output_precip, delimiter = ";", index_col=0)

df_pressao = pd.read_csv(output_pressao, delimiter = ";", index_col=0)

df_temp = pd.read_csv(output_temp, delimiter = ";", index_col=0)

df_vento = pd.read_csv(output_vento, delimiter = ";", index_col=0)

df_ventoC = pd.read_csv(output_ventoC, delimiter = ";", index_col=0)

# OBS: Senão utilizar o parametro index_col=0, o dataframe cria uma coluna "Unnamed" para representar o indice
# e a remoção desta coluna pode ser pelo comando: df.drop(df.columns[0], axis=1, inplace=True)

### **B) Sobre os 4 conjuntos de dados**

#### <span style="color:#DC143C">**B1. Formato dos Dados**

In [10]:
print("Precipitação:" + str(df_chuva.shape))

print("Pressão:" + str(df_pressao.shape))

print("Temperatura:" + str(df_temp.shape))

print("Vento Previsto:" + str(df_vento.shape))

print("Vento Consolidado:" + str(df_ventoC.shape))

Precipitação:(8760, 4)
Pressão:(8760, 4)
Temperatura:(8760, 4)
Vento Previsto:(8760, 5)
Vento Consolidado:(8760, 4)

#### <span style="color:#DC143C">**B2. Visão dos Dados**

In [11]:
df_chuva.head(5)

   Longitude  Latitude  Chuva                 Data
0     -42.75    -14.25    0.0  2017-01-01 00:00:00
1     -42.75    -14.25    0.0  2017-01-01 01:00:00
2     -42.75    -14.25    0.0  2017-01-01 02:00:00
3     -42.75    -14.25    0.0  2017-01-01 03:00:00
4     -42.75    -14.25    0.0  2017-01-01 04:00:00

In [12]:
df_temp.head(5)

   Longitude  Latitude  Temperatura                 Data
0     -42.75    -14.25        25.93  2017-01-01 00:00:00
1     -42.75    -14.25        25.73  2017-01-01 01:00:00
2     -42.75    -14.25        25.50  2017-01-01 02:00:00
3     -42.75    -14.25        23.67  2017-01-01 03:00:00
4     -42.75    -14.25        22.97  2017-01-01 04:00:00

In [13]:
df_vento.head(5)

   Longitude  Latitude  VentoPrevisto  Direcao                 Data
0     -42.75    -14.25           6.82    97.36  2017-01-01 00:00:00
1     -42.75    -14.25           6.91    94.65  2017-01-01 01:00:00
2     -42.75    -14.25           7.27    92.98  2017-01-01 02:00:00
3     -42.75    -14.25           7.83    93.62  2017-01-01 03:00:00
4     -42.75    -14.25           7.81    96.33  2017-01-01 04:00:00

In [14]:
df_pressao.head(5)

   Longitude  Latitude  Pressao                 Data
0     -42.75    -14.25  1013.14  2017-01-01 00:00:00
1     -42.75    -14.25  1013.34  2017-01-01 01:00:00
2     -42.75    -14.25  1013.04  2017-01-01 02:00:00
3     -42.75    -14.25  1012.92  2017-01-01 03:00:00
4     -42.75    -14.25  1013.07  2017-01-01 04:00:00

In [15]:
df_ventoC.head(5)

   Longitude  Latitude                 Data  VentoC
0     -42.75    -14.25  2017-01-01 00:00:00   9.815
1     -42.75    -14.25  2017-01-01 01:00:00   8.735
2     -42.75    -14.25  2017-01-01 02:00:00   8.454
3     -42.75    -14.25  2017-01-01 03:00:00   9.178
4     -42.75    -14.25  2017-01-01 04:00:00   9.186

### **C) Merge dos dados**

In [16]:
df_energia = pd.merge(df_vento, df_pressao, how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_temp,  how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_chuva, how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_ventoC, how = 'outer', on = ['Longitude','Latitude','Data'])

In [17]:
df_energia.head(2)

,Longitude,Latitude,VentoPrevisto,Direcao,Data,Pressao,Temperatura,Chuva,VentoC
0,-42.75,-14.25,6.82,97.36,2017-01-01 00:00:00,1013.14,25.93,0.0,9.815
1,-42.75,-14.25,6.91,94.65,2017-01-01 01:00:00,1013.34,25.73,0.0,8.735

### **D) Verifica se existe valores nulos**

In [18]:
df_energia.isnull().sum()

Longitude        0
Latitude         0
VentoPrevisto    0
Direcao          0
Data             0
Pressao          0
Temperatura      0
Chuva            0
VentoC           0
dtype: int64

### **E) Exporta Dados**

In [19]:
output_file = '../../../../PrevisaoVento/Data/process/cenario4/dados_cenario4.csv'
df_energia.to_csv(output_file, sep=';', encoding='utf-8')