In [23]:
import pandas as pd
import numpy as np

### **A) Importar Dados de Chuvas, Pressao, Precipitação e Temperatura**

In [24]:
output_direcao = '../../../../PrevisaoVento/Data/process/cenario2/direcao_ajustada.csv'

output_pressao =  '../../../../PrevisaoVento/Data/process/cenario2/pressao_ajustada.csv'

output_temp =  '../../../../PrevisaoVento/Data/process/cenario2/temperatura_ajustada.csv'

output_vento = '../../../../PrevisaoVento/Data/process/cenario2/vento_consolidado.csv'

In [25]:
df_direcao = pd.read_csv(output_direcao, delimiter = ";", index_col=0)

df_pressao = pd.read_csv(output_pressao, delimiter = ";", index_col=0)

df_temp = pd.read_csv(output_temp, delimiter = ";", index_col=0)

df_vento = pd.read_csv(output_vento, delimiter = ";", index_col=0)

# OBS: Senão utilizar o parametro index_col=0, o dataframe cria uma coluna "Unnamed" para representar o indice
# e a remoção desta coluna pode ser pelo comando: df.drop(df.columns[0], axis=1, inplace=True)

### **B) Sobre os 4 conjuntos de dados**

#### <span style="color:#DC143C">**B1. Formato dos Dados**

In [26]:
print("Direcao:" + str(df_direcao.shape))

print("Pressao:" + str(df_pressao.shape))

print("Temperatura:" + str(df_temp.shape))

print("Vento:" + str(df_vento.shape))

Direcao:(8808, 5)
Pressao:(8808, 5)
Temperatura:(8808, 5)
Vento:(8808, 4)

#### <span style="color:#DC143C">**B2. Visão dos Dados**

In [27]:
df_direcao.rename(columns={'Direcao_Verif': 'DirecaoVento'}, inplace=True)
df_direcao.head(2)

   index  Longitude  Latitude                 Data  DirecaoVento
0      0     -42.75    -14.25  2017-01-01 00:00:00        119.15
1      1     -42.75    -14.25  2017-01-01 01:00:00        119.20

In [28]:
df_temp.rename(columns={'Temperatura_Verif': 'Temperatura'}, inplace=True)
df_temp.head(2)

   index  Longitude  Latitude                 Data  Temperatura
0      0     -42.75    -14.25  2017-01-01 00:00:00       22.192
1      1     -42.75    -14.25  2017-01-01 01:00:00       18.516

In [29]:
df_pressao.rename(columns={'pressao_Verif': 'Pressao'}, inplace=True)
df_pressao.head(2)

   index  Longitude  Latitude                 Data  Pressao
0      0     -42.75    -14.25  2017-01-01 00:00:00  882.334
1      1     -42.75    -14.25  2017-01-01 01:00:00  882.333

In [30]:
df_vento.rename(columns={'Vento_Magnitude': 'VentoC'}, inplace=True)
df_vento.head(5)

   Longitude  Latitude                 Data  VentoC
0     -42.75    -14.25  2017-01-01 00:00:00   9.815
1     -42.75    -14.25  2017-01-01 01:00:00   8.735
2     -42.75    -14.25  2017-01-01 02:00:00   8.454
3     -42.75    -14.25  2017-01-01 03:00:00   9.178
4     -42.75    -14.25  2017-01-01 04:00:00   9.186

### **C) Merge dos dados**

In [31]:
df_energia = pd.merge(df_vento, df_pressao, how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_temp,  how = 'outer', on = ['Longitude','Latitude','Data'])
df_energia = pd.merge(df_energia, df_direcao, how = 'outer', on = ['Longitude','Latitude','Data'])

In [32]:
df_energia.head(1)
df_energia.drop(columns=['index_x','index','index_y'], inplace=True)

In [33]:
df_energia.head(2)

,Longitude,Latitude,Data,VentoC,Pressao,Temperatura,DirecaoVento
0,-42.75,-14.25,2017-01-01 00:00:00,9.815,882.334,22.192,119.15
1,-42.75,-14.25,2017-01-01 01:00:00,8.735,882.333,18.516,119.20

#### **D.1) Colunas NULAS ?**

In [34]:
df_energia.isnull().sum()

Longitude       0
Latitude        0
Data            0
VentoC          0
Pressao         0
Temperatura     0
DirecaoVento    0
dtype: int64

In [35]:
df_energia.count()

Longitude       8808
Latitude        8808
Data            8808
VentoC          8808
Pressao         8808
Temperatura     8808
DirecaoVento    8808
dtype: int64

In [36]:
# Remove linhas com colunascom valores nulos
df_energia = df_energia.dropna()

### **D) Exporta Dados**

In [40]:
output_file = '../../../../PrevisaoVento/Data/process/cenario2/dados_cenario2.csv'
df_energia.to_csv(output_file, sep=';', encoding='utf-8', index=True)