In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,date,time
from dateutil.relativedelta import relativedelta

### **A) Coleta dos Dados de Vento Verificado no Patio 1**

In [14]:
source_file = '../../Data/raw/eolica/01_patio_BAUET3_CAETITÉ_3_Ven_Verif_Consis.txt'

In [98]:
dfvento_consit = pd.read_csv(source_file, delimiter = ';' , header=None )

### **B) Sobre os Dados no Patio 1**

#### <span style="color:#DC143C">**B1.Formato dos Dados**

In [106]:
dfvento_consit.shape # formato da matriz

(366, 51)

#### <span style="color:#DC143C">**B2.Visao do Dataframe**

In [116]:
dfvento_consit.head(2)  # visão de 5 linhas

,longitude,latitude,0,1,2,3,4,5,6,7,...,39,40,41,42,43,44,45,46,47,48
1827,-42.75,-14.25,2017-01-01,9.71,9.920,9.048,8.422,8.372,8.537,9.515,...,6.217,5.928,5.414,5.992,6.614,6.967,7.00,8.562,8.91,8.42
1828,-42.75,-14.25,2017-01-02,7.49,8.197,7.953,7.503,7.257,7.570,6.960,...,1.897,2.390,3.140,5.013,5.323,3.577,3.07,6.557,7.52,6.05

### **C) Extração os Dados de 2017**

#### <span style="color:#DC143C"> **C1. Converter a primeira coluna em Data**

In [99]:
dfvento_consit[0]= pd.to_datetime(dfvento_consit[0], format='%Y%m%d')

#### <span style="color:#DC143C"> **C2.Remove registros fora do Intervalo**

In [100]:
dfvento_consit = dfvento_consit.drop(dfvento_consit[dfvento_consit[0] > '2017-12-31'].index)
dfvento_consit = dfvento_consit.drop(dfvento_consit[dfvento_consit[0] < '2017-01-01'].index)

In [101]:
dfvento_consit['longitude'] = -42.75
dfvento_consit['latitude']  = -14.25

In [102]:
cols = list(dfvento_consit)
cols = [cols[-1]] + cols[:-1]
dfvento_consit = dfvento_consit[cols]

cols = list(dfvento_consit)
cols = [cols[-1]] + cols[:-1]
dfvento_consit = dfvento_consit[cols]

In [121]:
dfvento_consit = dfvento_consit.reset_index()

### **D) Formatação dos Dados**

#### <span style="color:#DC143C"> **D1. Migrar os dados para o Formato**

In [123]:
frente = ['Longitude', 'Latitude', 'Data', 'Valor30_1', 'Valor30_2']  # Cabeçalho
df_result_vento_verif = pd.DataFrame(columns=frente)  # Criação de um dataframe vazio
    
Linha1    =  dfvento_consit.shape[0] 
Colunas1  =  dfvento_consit.shape[1] 

for lin2 in range(Linha1):  
    refhora = 0
    
    for col in range (Colunas1):        
        if col > 0:            
        
            if col % 2 != 0: # Se o número (col) for impar                   
               
                if col < 49:
                    
                    Data = dfvento_consit.loc[lin2,0]
                                  
                    hora = time(hour=refhora, minute=0, second=0)            
                    dataCompleta = datetime.combine(Data, hora)
                    #print(dataCompleta)
                    lin_alvo = [dfvento_consit.loc[lin2,'longitude'], dfvento_consit.loc[lin2,'latitude'], dataCompleta , dfvento_consit.loc[lin2,col], dfvento_consit.loc[lin2,col+1]] 
                    # print(lin_alvo)
                    df_result_vento_verif.loc[len(df_result_vento_verif)] = lin_alvo  # adding a row
                         
                refhora = refhora + 1

#### <span style="color:#DC143C"> **D2. Informações sobre os Tipos de Dados**

In [124]:
df_result_vento_verif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Longitude  8784 non-null   float64
 1   Latitude   8784 non-null   float64
 2   Data       8784 non-null   datetime64[ns]
 3   Valor30_1  8784 non-null   float64
 4   Valor30_2  8784 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 411.8 KB

In [125]:
df_result_vento_verif.shape

(8784, 5)

#### <span style="color:#DC143C"> **D3. Agregar Magnitude para 1H**

In [126]:
df_result_vento_verif['Magnitude_Verif'] = (df_result_vento_verif['Valor30_1'] + df_result_vento_verif['Valor30_2']) / 2

In [127]:
# Formatar o resultado com 2 casas decimais
df_result_vento_verif['Magnitude_Verif'] = df_result_vento_verif['Magnitude_Verif'].round(decimals=2)

In [128]:
df_result_vento_verif = df_result_vento_verif.drop('Valor30_1', 1)
df_result_vento_verif = df_result_vento_verif.drop('Valor30_2', 1)

In [129]:
df_result_vento_verif.head(10)

   Longitude  Latitude                Data  Magnitude_Verif
0     -42.75    -14.25 2017-01-01 00:00:00             9.82
1     -42.75    -14.25 2017-01-01 01:00:00             8.74
2     -42.75    -14.25 2017-01-01 02:00:00             8.45
3     -42.75    -14.25 2017-01-01 03:00:00             9.18
4     -42.75    -14.25 2017-01-01 04:00:00             9.19
5     -42.75    -14.25 2017-01-01 05:00:00             9.36
6     -42.75    -14.25 2017-01-01 06:00:00             8.40
7     -42.75    -14.25 2017-01-01 07:00:00             7.40
8     -42.75    -14.25 2017-01-01 08:00:00             7.83
9     -42.75    -14.25 2017-01-01 09:00:00             7.38

### **E. Exporta Resultados**

In [130]:
output_file = '../../Data/process/teste_01_patio_ventoverif.csv'
df_result_vento_verif.to_csv(output_file, sep=';', encoding='utf-8')