In [13]:
import numpy as np
import pandas as pd
from datetime import datetime,date

### A) Dados de Meteorologia

In [14]:
# DADOS OBSERVADOS
dfvento = pd.read_csv('vNE_2017_01_100m.csv', delimiter = r"\s+", header=None)
#dfvento = pd.read_csv('teste.csv', delimiter = r"\s+", header=None)

In [15]:
dfvento.shape # formato da matriz

(2047, 1490)

In [16]:
dfvento.head(5)  # visão de 5 linhas

,0,1,2,3,4,5,6,7,8,9,...,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489
0,-46.00,-1.25,5.94,53.28,5.62,55.07,4.67,60.72,4.17,66.63,...,6.89,54.92,6.90,59.23,6.78,62.35,7.27,62.41,7.05,61.26
1,-45.75,-1.25,6.58,54.59,6.46,55.04,5.66,59.16,5.06,63.97,...,6.98,55.83,6.92,59.04,7.15,62.89,8.06,63.59,7.70,64.00
2,-46.00,-1.50,5.31,45.89,4.80,47.95,3.70,53.08,3.12,62.16,...,6.22,52.76,6.05,55.87,5.50,62.53,5.69,61.67,5.71,57.12
3,-45.75,-1.50,5.22,49.64,4.94,50.74,4.05,54.27,3.48,62.34,...,5.76,53.29,5.66,55.67,5.70,61.69,5.99,61.95,5.92,59.31
4,-45.50,-1.50,5.55,53.08,5.50,52.17,4.84,54.28,4.23,61.00,...,5.53,49.23,5.90,52.59,6.21,59.98,6.28,61.19,6.20,61.29

In [17]:
# Total de Registros - São 31 eventos observados
# [Total de Registro - (Latitude e Longitude)] / 2 (2eventos..mag e direcao) / 24 ocorrencias
((1490-2)/2)/24

31.0

In [18]:
Linha    =  dfvento.shape[0]  # Total de Linhas
Colunas  =  dfvento.shape[1]  # Total de Colunas

frente = ['Longitude', 'Latitude', 'Magnitude', 'Direcao', 'Data']  # Cabeçalho
df_ajuste = pd.DataFrame(columns=frente)  # Criação de um dataframe vazio

In [19]:
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2021-06-19 17:06:04'

### B) Formatação dos Dados

In [ ]:
refdia = 1
    
# Função para transformar .... 
for lin in range(Linha): 
    # print('linha: ' + str(lin))
    
    refhora = 0
    
    for col in range (Colunas):        
        if col > 1:  # Removo log e Lat da varredura
            
            if col % 2 == 0: # Se o número (col) for par       
                
                # print(col)
                # print('Day: '  + str(refdia))    
                # print('Hora: ' + str(refhora))   
                
                data = datetime(year=2017, month=1, day = refdia, hour = refhora, minute=0, second=0) 
                # print(data)
                
                variavel = [dfvento.loc[lin,0], dfvento.loc[lin,1] , dfvento.loc[lin,col] ,dfvento.loc[lin,(col+1)], data] 
                
                df_ajuste.loc[-1] = variavel  # adding a row
                df_ajuste.index = df_ajuste.index + 1
                
                refhora = refhora + 1
                if refhora == 24:                    
                    refdia = refdia + 1
                    refhora = 0
                
    refdia = 1
    refhora = 0
    
df_ajuste.reset_index(inplace=True, drop=False)  #Reseto o indice

In [ ]:
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
df_ajuste.to_csv('result.csv',sep='|', header=False, index=False, encoding='utf-8')

In [ ]:
df_ajuste.head(10)