In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,date,time
from dateutil.relativedelta import relativedelta

### **A) Coleta dos Dados de Vento Verificado no Patio 1**

In [2]:
source_file = '../../Data/raw/eolica/01_patio_BAUET3_CAETITÉ_3_Ven_Verif_Consis.txt'

In [3]:
dfvento_consit = pd.read_csv(source_file, delimiter = ';' , header=None )

### **B) Sobre os Dados no Patio 1**

#### <span style="color:#DC143C">**B1.Formato dos Dados**

In [4]:
dfvento_consit.shape # formato da matriz

(3153, 49)

#### <span style="color:#DC143C">**B2.Visao do Dataframe**

In [5]:
dfvento_consit.head(2)  # visão de 5 linhas

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,20120101,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
1,20120102,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0

### **C) Extração os Dados de 2017**

#### <span style="color:#DC143C"> **C1. Converter a primeira coluna em Data**

In [6]:
dfvento_consit[0]= pd.to_datetime(dfvento_consit[0], format='%Y%m%d')

#### <span style="color:#DC143C"> **C2. Extração ....**

In [7]:
Linha  =  dfvento_consit.shape[0]
Coluna =  dfvento_consit.shape[1]

aCols = np.arange(0,Coluna) 
df_alvo = pd.DataFrame(columns = aCols )

data1 = datetime(2017, 1, 1)
data12 = datetime(2017, 12, 31)

for lin in range(Linha): 
    
    # 01-01-2017  
    if ( dfvento_consit.loc[lin,0] == data1 ): 
       
        variavel = dfvento_consit.values[lin,]        
        df_alvo.loc[len(df_alvo)] = variavel

        umDia = relativedelta(days=+1)
        data1 = data1 + umDia   
        
    # 31-12-2017    
    if ( dfvento_consit.loc[lin,0] == data12 ): 
        umDia = relativedelta(days=+2500)
        data1 = data1 + umDia 
                     
        
df_alvo['longitude'] = -42.75
df_alvo['latitude']  = -14.25

In [8]:
#df_alvo.head(5)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,longitude,latitude
0,2017-01-01,9.710,9.920,9.048,8.422,8.372,8.537,9.515,8.840,8.895,...,5.414,5.992,6.614,6.967,7.000,8.562,8.910,8.420,-42.75,-14.25
1,2017-01-02,7.490,8.197,7.953,7.503,7.257,7.570,6.960,6.983,7.297,...,3.140,5.013,5.323,3.577,3.070,6.557,7.520,6.050,-42.75,-14.25
2,2017-01-03,5.983,6.193,6.640,6.083,5.493,5.513,5.817,5.883,5.970,...,7.970,8.283,9.277,11.260,12.673,12.197,11.043,11.620,-42.75,-14.25
3,2017-01-04,11.763,11.037,8.907,7.587,6.297,5.800,6.280,7.117,7.820,...,10.810,10.433,9.740,9.817,8.743,7.460,5.650,7.643,-42.75,-14.25
4,2017-01-05,9.287,7.147,8.120,5.943,8.347,8.007,7.973,8.213,8.677,...,8.313,7.907,8.767,9.300,9.633,9.220,9.207,8.687,-42.75,-14.25

#### <span style="color:#DC143C"> **C4. Mudar a ordem das colunas**

In [9]:
cols = list(df_alvo)
cols = [cols[-1]] + cols[:-1]
df_alvo = df_alvo[cols]

cols = list(df_alvo)
cols = [cols[-1]] + cols[:-1]
df_alvo = df_alvo[cols]

# df_alvo.head(2)

In [10]:
df_alvo.head(5)

,longitude,latitude,0,1,2,3,4,5,6,7,...,39,40,41,42,43,44,45,46,47,48
0,-42.75,-14.25,2017-01-01,9.710,9.920,9.048,8.422,8.372,8.537,9.515,...,6.217,5.928,5.414,5.992,6.614,6.967,7.000,8.562,8.910,8.420
1,-42.75,-14.25,2017-01-02,7.490,8.197,7.953,7.503,7.257,7.570,6.960,...,1.897,2.390,3.140,5.013,5.323,3.577,3.070,6.557,7.520,6.050
2,-42.75,-14.25,2017-01-03,5.983,6.193,6.640,6.083,5.493,5.513,5.817,...,9.567,8.890,7.970,8.283,9.277,11.260,12.673,12.197,11.043,11.620
3,-42.75,-14.25,2017-01-04,11.763,11.037,8.907,7.587,6.297,5.800,6.280,...,10.104,11.200,10.810,10.433,9.740,9.817,8.743,7.460,5.650,7.643
4,-42.75,-14.25,2017-01-05,9.287,7.147,8.120,5.943,8.347,8.007,7.973,...,8.993,8.763,8.313,7.907,8.767,9.300,9.633,9.220,9.207,8.687

### **D) Formatação dos Dados**

#### <span style="color:#DC143C"> **D1. Migrar os dados para o Formato**

In [11]:
frente = ['Longitude', 'Latitude', 'Data', 'Valor30_1', 'Valor30_2']  # Cabeçalho
df_result_vento_verif = pd.DataFrame(columns=frente)  # Criação de um dataframe vazio
    
Linha1    =  df_alvo.shape[0] 
Colunas1  =  df_alvo.shape[1] 

for lin2 in range(Linha1):  
    refhora = 0
    
    for col in range (Colunas1):        
        if col > 0:            
        
            if col % 2 != 0: # Se o número (col) for impar                   
               
                if col < 49:
                    Data = df_alvo.loc[lin2,0]
                    hora = time(hour=refhora, minute=0, second=0)            
                    dataCompleta = datetime.combine(Data, hora)
                
                    lin_alvo = [df_alvo.loc[lin2,'longitude'], df_alvo.loc[lin2,'latitude'], dataCompleta , df_alvo.loc[lin2,col], df_alvo.loc[lin2,col+1]] 
                  
                    df_result_vento_verif.loc[len(df_result_vento_verif)] = lin_alvo  # adding a row
                        
                refhora = refhora + 1

#### <span style="color:#DC143C"> **D2. Informações sobre os Tipos de Dados**

In [ ]:
df_result_vento_verif.info()

#### <span style="color:#DC143C"> **D3. Agregar Magnitude para 1H**

In [25]:
df_result_vento_verif['Magnitude_Verif'] = (df_result_vento_verif['Valor30_1'] + df_result_vento_verif['Valor30_2']) / 2

In [34]:
# Formatar o resultado com 2 casas decimais
df_result_vento_verif['Magnitude_Verif'] = df_result_vento_verif['Magnitude_Verif'].round(decimals=2)

In [29]:
df_result_vento_verif = df_result_vento_verif.drop('Valor30_1', 1)
df_result_vento_verif = df_result_vento_verif.drop('Valor30_2', 1)

In [35]:
df_result_vento_verif.head(10)

   Longitude  Latitude                Data  Magnitude_Verif
0     -42.75    -14.25 2017-01-01 00:00:00             9.82
1     -42.75    -14.25 2017-01-01 01:00:00             8.74
2     -42.75    -14.25 2017-01-01 02:00:00             8.45
3     -42.75    -14.25 2017-01-01 03:00:00             9.18
4     -42.75    -14.25 2017-01-01 04:00:00             9.19
5     -42.75    -14.25 2017-01-01 05:00:00             9.36
6     -42.75    -14.25 2017-01-01 06:00:00             8.40
7     -42.75    -14.25 2017-01-01 07:00:00             7.40
8     -42.75    -14.25 2017-01-01 08:00:00             7.83
9     -42.75    -14.25 2017-01-01 09:00:00             7.38

### **E. Exporta Resultados**

In [37]:
output_file = '../../Data/process/result_01_patio_ventoverif.csv'
df_result_vento_verif.to_csv(output_file, sep=';', encoding='utf-8')