In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,date

### **A) Coleta dos Dados de Temperatura**

In [2]:
source_file = '../../Data/raw/t2m/teste.txt'
# source_file = '../../Data/raw/t2m/t2mNE_2017_01.txt'
output_file = '../../Data/process/result_t2mNE_2017_01.txt'

In [3]:
# DADOS OBSERVADOS
df_temperatura = pd.read_csv(source_file, delimiter = r"\s+", header=None)

#### <span style="color:#DC143C">**A1.Formato dos Dados**

In [4]:
df_temperatura.shape # formato da matriz

(3, 746)

#### <span style="color:#DC143C">**A2.Visao do Dataframe**

In [15]:
df_temperatura.head(2)  # visão de 5 linhas

,0,1,2,3,4,5,6,7,8,9,...,736,737,738,739,740,741,742,743,744,745
0,-46.00,-1.25,27.18,27.23,27.21,26.19,26.17,25.81,25.72,25.51,...,27.27,26.65,26.45,26.34,26.14,25.95,26.13,25.41,25.26,25.38
1,-45.75,-1.25,27.54,27.64,27.73,27.00,27.04,26.89,26.90,26.72,...,26.74,26.52,25.85,26.13,25.57,25.82,25.88,25.59,25.47,25.68

#### <span style="color:#DC143C">**A3. Nome das Colunas do Cabeçalho**

In [ ]:
# Lista o nome das Colunas
df_temperatura.columns

#### <span style="color:#DC143C">**A4. Conteúdo de 1 Linha**

In [ ]:
df_temperatura.values[0:1]

#### <span style="color:#DC143C">**A5. Informações Sobre o Dataframe**

In [ ]:
df_temperatura.info()

In [ ]:
# Descreve apenas colunas "Numericas"
df_temperatura.describe(include=[np.number])

#### <span style="color:#DC143C">**A6. Quantidade de valores não nulos**

In [ ]:
df_temperatura.count()

#### <span style="color:#DC143C">**A7. Quantidade de valores NULOS**

In [ ]:
df_temperatura.isnull().sum()

### **B) Descrição dos Atributos**

<p><b>Cada linha contem um ponto de latitude e longitude localizado no meio de uma quadricula de 5km de cada lado da<br>
    Região Nordeste do Brasil, e em seguinda dos valores horário de cada dia do mês 01 (referência).
<br>
<br>Coluna 0: Longitude em Graus
<br>Coluna 1: Latitude em Graus
<br>Coluna 2: Valor da Temperatura em Graus Celsius ºC
<br>Coluna 3..746: Valor da Temperatura em Graus Celsius ºC
</b></p>

In [24]:
# [Total de Registro - (Latitude e Longitude)] / 1 (valor) / 24 ocorrencias h
print('Total de Dias por Linha: ' + str((df_temperatura.shape[1]-2)/24))

Total de Dias por Linha: 31.0

In [ ]:
#### <span style="color:#DC143C">**B1. Finding all the categorical and continuous values**

In [ ]:
categorical_col, contin_val=[],[]

for i in rain.columns:  # i = nome das colunas
   # print(i)
    if rain[i].dtype == 'object':
        categorical_col.append(i)
    else:
        contin_val.append(i)
        
print(categorical_col)
print('')
print(contin_val)

### **C) Alterar Formato do Shape**

In [19]:
Linha    =  df_temperatura.shape[0]  # Total de Linhas
Colunas  =  df_temperatura.shape[1]  # Total de Colunas

frente = ['Longitude', 'Latitude', 'Valor', 'Data']  # Cabeçalho
df_result_temperatura = pd.DataFrame(columns=frente)  # Criação de um dataframe vazio

#### <span style="color:#DC143C">**C1. Inicio da execução**

In [20]:
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2021-06-20 08:42:58'

#### <span style="color:#DC143C">**C2. Lógica da Execução**

In [ ]:
refdia = 1
    
# Função para transformar .... 
for lin in range(Linha):
    print('linha: ' + str(lin))
    
    refhora = 0
    
    for col in range (Colunas):        
        if col > 1:    # Removo log e Lat da varredura
            # print(col)
            # print('Day: '  + str(refdia))    
            # print('Hora: ' + str(refhora))   
                
            data_p = datetime(year=2017, month=1, day = refdia, hour = refhora, minute=0, second=0) 
            # print(data)
                
            variavel = [df_temperatura.loc[lin,0], df_temperatura.loc[lin,1] , df_temperatura.loc[lin,col] , data_p] 
                
            df_result_temperatura.loc[-1] = variavel  # adding a row
            df_result_temperatura.index = df_result_temperatura.index + 1
                
            refhora = refhora + 1
            if refhora == 24:                    
                refdia = refdia + 1
                refhora = 0
                
    refdia = 1
    refhora = 0
    
df_result_temperatura.reset_index(inplace=True, drop=False)  #Reseto o indice

#### <span style="color:#DC143C">**C3. Fim da execução**

In [ ]:
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

### **D. Exporta Resultados**

In [ ]:
# df_ajustepressao.head()

In [ ]:
df_result_temperatura.drop('index',axis='columns', inplace=True)

In [ ]:
df_result_temperatura.to_csv(output_file, sep=';', header=False, index = False, encoding='utf-8')