In [3]:
import pandas


data_directory = '../../Data/Processed/retail/'
bigtable_path = '../../Data/Processed/retail/bigtable_data.parquet'

# Load Data

In [4]:
features_file = data_directory + '/features.parquet'
sales_file    = data_directory + '/sales.parquet'
stores_file   = data_directory + '/stores.parquet'

# read features
df_features = pandas.read_parquet(features_file)
df_sales = pandas.read_parquet(sales_file)
df_stores = pandas.read_parquet(stores_file)

print('features:', df_features.shape)
print('sales:', df_sales.shape)
print('stores:', df_stores.shape)

features: (8190, 12)
sales: (59000, 5)
stores: (45, 3)

# Combine the Data Sets

In [13]:
df = df_sales.merge(df_stores, on=['Store']) \
             .merge(df_features.drop('IsHoliday', axis=1), on=['Store', 'Date'])
print('data shape:', df.shape)
print('data columns:', df.columns.tolist())
print('data: from ', df['Date'].min().date(), 'to', df['Date'].max().date())
df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,0
1,1,2010-02-12,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106,1
2,1,2010-02-19,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106,0
3,1,2010-02-26,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106,0
4,1,2010-03-05,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,0.000000,0.000,0
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,0.000000,0.000,0
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,0.000000,0.000,0
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,0.000000,0.000,0
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,0.000000,0.000,0

# Export Big Table Data

In [12]:
df.to_parquet(bigtable_path)