In [1]:
import pandas
import os


data_directory = '../../Data/Raw/airbnb/'
output_directory='../../Data/Processed/airbnb/'

# Load Data

In [2]:
airbnb_file = data_directory + '/airbnb_queens_2019.csv'

# read features
df_airbnb = pandas.read_csv(airbnb_file)
print('Airbnb: ', df_airbnb.shape)

Airbnb:  (5666, 16)

# Features

In [3]:
df_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12937,"1 Stop fr. Manhattan! Private Suite,Landmark B...",50124,Orestes,Queens,Long Island City,40.74771,-73.94740,Private room,130,3,248,01-07-19,2.25,1,215
1,18198,Little King of Queens,70091,Justin,Queens,Woodside,40.75038,-73.90334,Private room,70,30,25,31-05-19,0.22,1,324
2,32363,Fully Furnished Basement Apartment,140025,Fredah,Queens,Flushing,40.74028,-73.83168,Private room,140,2,1,19-09-11,0.01,1,1
3,39593,"A room w/ a Manhattan view, longer stay",110506,Myung,Queens,Sunnyside,40.74559,-73.92313,Private room,79,30,28,12-04-19,0.26,1,126
4,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.70382,-73.89797,Entire home/apt,350,8,10,12-05-19,0.11,5,365

# Fill NaN Values

In [6]:
nan_rule = {
  'MarkDown1': 0,
  'MarkDown2': 0,
  'MarkDown3': 0,
  'MarkDown4': 0,
  'MarkDown5': 0,
}


for cname, rule in nan_rule.items():
    df_features.loc[:, cname] = df_features[cname].fillna(rule)\
  
print(df_features.shape)

(8190, 12)

# Boolean Variable

In [7]:
df_features['IsHoliday'] = [1 if holiday else 0 for holiday in df_features['IsHoliday'].values]
print('df_features: ', df_features.shape)

df_features:  (8190, 12)

# Datetime Variables

In [8]:
df_features['Date'] = pandas.to_datetime(df_features['Date'].values, format='%d/%m/%Y')
print('Features: from ', df_features['Date'].min().date(), 'to', df_features['Date'].max().date())

df_sales['Date'] = pandas.to_datetime(df_sales['Date'].values, format='%d-%m-%y')
print('Sales: from ', df_sales['Date'].min().date(), 'to', df_sales['Date'].max().date())

Features: from  2010-02-05 to 2013-07-26
Sales: from  2010-02-05 to 2012-10-26

# Numeric Variables

In [9]:
# Feature Data
num_variables = ['Temperature', 'Fuel_Price', 'MarkDown1','MarkDown2','MarkDown3', 'MarkDown4', 'MarkDown5',
                 'CPI', 'Unemployment']

for cname in num_variables:
    df_features[cname] = df_features[cname].astype(float, errors='ignore').fillna(0)

    
# Sales Data    
num_variables = ['Weekly_Sales']

for cname in num_variables:
    df_sales[cname] = df_sales[cname].astype(float, errors='ignore').fillna(0)
    
    

# Store Data    
num_variables = ['Size']

for cname in num_variables:
    df_stores[cname] = df_stores[cname].astype(float, errors='ignore').fillna(0)

# Categorical Variables

In [10]:
# Feature Data
cat_variables = ['Store',]

for cname in cat_variables:
    df_features[cname] = df_features[cname].astype(str)

    
# Sales Data    
cat_variables = ['Store', 'Dept']

for cname in cat_variables:
    df_sales[cname] = df_sales[cname].astype(str)
    
    

# Store Data    
cat_variables = ['Store','Type']

for cname in cat_variables:
    df_stores[cname] = df_stores[cname].astype(str)

# Prepared Data

## Features

In [14]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0
1,1,2010-02-12,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,1
2,1,2010-02-19,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,0
3,1,2010-02-26,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,0
4,1,2010-03-05,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,0

## Sales

In [12]:
df_sales.head()

  Store Dept       Date  Weekly_Sales  IsHoliday
0     1    1 2010-02-05      24924.50      False
1     1    1 2010-02-12      46039.49       True
2     1    1 2010-02-19      41595.55      False
3     1    1 2010-02-26      19403.54      False
4     1    1 2010-03-05      21827.90      False

## Stores

In [13]:
df_stores.head()

  Store Type      Size
0     1    A  151315.0
1     2    A  202307.0
2     3    B   37392.0
3     4    A  205863.0
4     5    B   34875.0

# Export Data

In [18]:
help(os.makedirs)

Help on function makedirs in module os:

makedirs(name, mode=511, exist_ok=False)
    makedirs(name [, mode=0o777][, exist_ok=False])

    Super-mkdir; create a leaf directory and all intermediate ones.  Works like
    mkdir, except that any intermediate path segment (not just the rightmost)
    will be created if it does not exist. If the target directory already
    exists, raise an OSError if exist_ok is False. Otherwise no exception is
    raised.  This is recursive.

In [20]:
os.makedirs(output_directory, exist_ok=True)

features_file = output_directory + '/features.parquet'
sales_file    = output_directory + '/sales.parquet'
stores_file   = output_directory + '/stores.parquet'

# read features
df_features.to_parquet(features_file)
df_sales.to_parquet(sales_file)
df_stores.to_parquet(stores_file)